---
const { name, images, height } = Astro.props;
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';

const optimizedImages = [];

for (const image of images) {
  const optimizedImage = await getImage({
    src: image.src,
    format: 'webp',
    width: height * (image.aspectRatio ?? 1),
    height: height,
  });

  optimizedImages.push({ ...image, img: optimizedImage });
}

console.log(JSON.stringify(optimizedImages[0]));
---

<div class="image-grid">
  {
    optimizedImages.map((image) => (
      <a data-fslightbox={name} href={image.imgsrc}>
        <Image
          src={image.img.options}
          alt={image.alt}
          width={image.img.options.width}
          height={image.img.options.height}
        />
      </a>
    ))
  }
</div>
