---
import Head from '../components/page/Head.astro';
import Navbar from '../components/page/Navbar.astro';
import Footer from '../components/page/Footer.astro';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url';
import '../styles/styles.scss';
import { EMAIL } from '../constants';

const { title, description, heroimage, herotitle, herodescription } =
  Astro.props;

---

<html lang="de">
  <head>
    <Head
      title={title ? title + ' | Ordination Weissenwolffstrasse' : 'Ordination Weissenwolffstrasse'}
      description={description}
    />
  </head>

  <body>
    <header>
      <Navbar />
    </header>

    <main>
      {
        heroimage && (
          <div
            class={herotitle ? 'hero-image hero-image-large' : 'hero-image'}
            style={'background-image: url("/images/' + heroimage + '");background-position: center center;'}
          >
            {herotitle && (
              <div class="container">
                <div class="row">
                  <div class="offset-0 col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <div class="hero-title">
                      <h1>{herotitle}</h1>
                    </div>

                    {herodescription && (
                      <div class="hero-description">
                        <p>{herodescription}</p>
                      </div>

                      <p class="text-center actions">
                        <a class="btn btn-secondary"
                            aria-current="page"
                            role="button"
                            href={'mailto:' + EMAIL}
                            target="_blank"
                            >Kontakt</a>
                      </p>
                    )}
                  </div>
                </div>
              </div>
            )}
          </div>
        )
      }
      <div class="container">
        <div class="row">
          <div class="col-12">
            <slot />
          </div>
        </div>
      </div>
    </main>

    <footer>
      <Footer />
    </footer>

    <!-- comming soon overlay -->
    <div class="comming-soon-overlay">
      <div class="comming-soon-overlay-content">
        <h1>Bald verfügbar: Neue Ordinationsflächen in Linz</h1>
        <p>Moderne und zentral gelegene Praxisräume – perfekt für Ärzte, Therapeuten und andere Gesundheitsdienstleister.  </p>

        <p><strong>
          Weißenwolffstraße 1, 1. Stock  <br />
          4020 Linz  <br />
          Oberösterreich
        </strong>
        </p>

        <p>Weitere Informationen finden Sie in Kürze hier auf dieser Webseite.</p>

        <p>Für Fragen oder Vormerkungen schreiben Sie gerne an:  
          <a href={'mailto:' + EMAIL}>{EMAIL}</a></p>

      </div>
    </div>

    <!-- fslightbox -->
    <script src="/js/fslightbox.js" is:inline="true"></script>

    <!-- 100% privacy-first analytics -->
    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
  <script src={bootstrap}></script>
  <script
    src="https://kit.fontawesome.com/9fc80d8fb2.js"
    crossorigin="anonymous"></script>
  <script>
    // if query param "preview" is true, do not show the comming soon overlay
    if (localStorage.getItem('preview') === 'true' || window.location.search.includes('preview=true')) {
      localStorage.setItem('preview', 'true');
      document.querySelector('.comming-soon-overlay').style.display = 'none';
    }
  </script>
</html>
